doctype
html
  head
    block title
      title StreetView

    include ../template/meta
    include ../template/asset

  body(ng-app='streetview')
    include ../template/header

    .contents
      block contents